*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: ; */
}
h3{
    font-size: 1.5rem;
}
body{
    width: 100vw;
}
main{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    width: 100%;
    height: 100vh;
    overflow:auto;
}
.left{
    background-color: #408040;
    justify-content: center;
    align-content: space-around;
    display: grid;
    grid-template-rows: auto 320px 40px 150px;
    padding: 2%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    background-color: black;
}
.right{
    background-color: #408040;
    display: grid;
    grid-template-rows: auto 620px;
    padding: 2%;
    height: 100%;
}
container > my-frame{
    display: flex;
    background-color: #108040;
    padding: 3px;
    border-radius: 1rem;
    margin-top: 10px;
    align-items: start;
    height: 92%;
}


.title h2{
    color: white;
    font-size: 3rem;
    display:block;
    width: 80%;
}
.album_div{
    display: flex;
    flex-direction: column;
    height: 100%;

}
#search-bar, #search-track {
    display: block;
    margin: 5px auto;
    padding: 4px;
    width: 90%;
    max-width: 400px;
    border: 1px solid #3b5653;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(73, 73, 73, 0.5);
  }
.album_list{
    background-color: rgb(80, 80, 80);
    padding: 4% 0 0 0;
    column-gap: 2%;
    margin-bottom: 4px;
    row-gap: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-direction: column;
    width: 140px;
    min-height: 150px;
    align-items: center;
    box-sizing: border-box;
}
.card:hover{
    /* border: 3px solid white; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    scale: 1.03;
}
.card > .albumName{
    font-weight: bold;
    text-align: center;
}
.card p.artist{
    text-align: center;
}
.card > img{
    width: 90px;
    height: 90px;
}

.track_recommended_list{

    overflow-y: auto;
    overflow-x: hidden;
    gap: 2%;
}
.cardOftracks, .recomended_card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 80px;
    overflow: hidden;
    padding-right: 8px;
    border-top: 2px solid rgb(124, 122, 122);
    border-radius: 5%;
    background-color: #c1e7d1e5;
}
.cardOftracks:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    scale: 1.03;
}
.cardOftracks .left_info b{
    font-size: 1rem;
}
.cardOftracks img {
    object-fit: contain;
    width: 22%;
    border-radius: 5%;
}
.footer{
    display: flex;
    align-items: end;
}
.left_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 70%;
    padding: 0.8em;
}

.right_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 12%;
}
.year{
    font-size: 12px;
    color: #9ba4a3;
    font-weight: 900;
}

.track_list{
    /* background-color: rgb(126, 175, 102); */
    width: 100%;
    display: block;
    overflow: auto;
}
.track_list > .cardOftracks{
    height: min-content;
} 
.buttons {
    display: none; /* Hidden by default */
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
navbar {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }

    .left, .center, .right {
        display: none;
        height: 100vh;
        overflow-y: auto;
    }
    .nav-bar {
        display: flex; /* Show navigation bar */
    }

    .show {
        display: block;
    }
}