*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: ; */
}

body{
    width: 100vw;
    height: 100%;
}
main{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 100%;
    height: 100vh;
    /* box-sizing: border-box;   */
}
container {
    height: 100%;
    background-color: #408040;
    display: flex;
    /* border: 3px solid; */
    justify-content: center;
}
.left,.right {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    background-color: #102040;
    padding: 2%;
}
container > my-frame{
    /* border: 3px solid red; */
    background-color: #108040;
    padding: 3px;
    border-radius: 1rem;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    /* background-color: black; */
}
.right{
    
}
.title{
    /* background-color: #5080ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title h2{
    color: white;
    /* background-color: red; */
    font-size: 3rem;
    display:flex;
    justify-content: center;
    width: 100%;
}
.album_div{
    border: 1px solid gray;
    border-radius: 6px;
}
h3{
    font-size: 2rem;
}
.footer{
    border: 1px solid gray;
    border-radius: 6px;
    padding-top: 4px;
}